[Unit]
Description=LeoNTP Exporter
After=network.target

[Service]
User=root
ExecStart=/usr/local/bin/leontp-exporter --listen=:9124
KillMode=process
Restart=on-failure

[Install]
WantedBy=default.target
